.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}

.boton-verde {
    @include boton($verde, inline-block);
}
.btn-create-anuncio{
    line-height: 30px;
    min-width: 200px;
}
.btn-create-blog{
    line-height: 2rem;
    min-width: 100px;
    margin-right: 1rem;
}
.btn-eliminar-blog{
    line-height: 2rem;
    min-width: 100px;
    margin-right: 1rem;
}
.btn-sesion{
    background: transparent;
    border: none;
    color: $blanco;
    margin-left: 1.5rem;
    cursor: pointer;
    font-size: 1.8rem;
}
.btn-sesion:hover{
    // background-color: $blanco;
    color: $verde;
}