.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}

.boton-verde {
    @include boton($verde, inline-block);
}

.btn-create-anuncio{
    line-height: 30px;
    min-width: 200px;
}
.btn-create-blog{
    line-height: 2rem;
    min-width: 100px;
    margin-right: 1rem;
}