@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
 
}
.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;

        img {
            flex:  0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
}

.paginator {
    a, span {
        background-color: #E08709;
        color: #fff;
    }

    // Estilo para el enlace activo
    .active a {
        background-color: #fff;
        color: #E08709;
        border-color: #E08709;
    }

    // Estilo para los enlaces de navegación (anterior y siguiente)
    .disabled, &:hover, li.prev.disabled a, li.next.disabled a {
        color: #999;
        cursor: not-allowed;
    }
}

.alerta {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

#vista-previa{
    width: 25%;
}